/* Catalogo.css */

.catalogo-container {
    width: 100%;
    max-width: none;
    margin: 0px auto;
    padding: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contenido {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .repartos-list {
    width: 60%;
    max-height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .reparto-item {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: border 0.3s ease, box-shadow 0.3s ease; /* Añadir transición para un efecto suave */
  }
  
  .reparto-item:hover {
    border: 1px solid #007bff; /* Color del borde al pasar el cursor */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Sombra para resaltar */
  }
  
  .reparto-item p {
    margin: 5px 0;
  }
  
  .nuevo-reparto-form {
    width: 40%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nuevo-reparto-form input {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .nuevo-reparto-form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nuevo-reparto-form button:hover {
    background-color: #0056b3;
  }
  
  .toggle-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toggle-button:hover {
    background-color: #218838;
  }
  